<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>
  </nav>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://via.placeholder.com/32" alt="32Placeholder">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Lalisa M</strong>
            <small>@lalalalisa_m</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://via.placeholder.com/32" alt="32Placeholder">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Kim Jisoo</strong>
            <small>@sooyaaa__</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://via.placeholder.com/32" alt="32Placeholder">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Park Chaeyoung</strong>
            <small>@roses_are_rosie</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://via.placeholder.com/32" alt="32Placeholder">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jennie Kim</strong>
            <small>@jennierubyjane</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  
</div>